.cercle{
    border-radius: 100%;
    background-color: red;
    height: 600px;
    width: 600px;
    position: relative;
}

.cercle2{
    border-radius: 100%;
    background-color: green;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 17%;
    left: 17%;
}

.cercle3{
    border-radius: 100%;
    background-color:blue;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 25%;
    left: 25%;
}